In [26]:
!pip install -r requirements.txt

Requirement already satisfied: numpy in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from -r requirements.txt (line 1)) (2.3.4)
Requirement already satisfied: pandas in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from -r requirements.txt (line 2)) (2.3.3)
Requirement already satisfied: scikit-learn in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from -r requirements.txt (line 3)) (1.7.2)
Requirement already satisfied: openai in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from -r requirements.txt (line 4)) (2.6.1)
Requirement already satisfied: groq in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from -r requirements.txt (line 5)) (0.33.0)
Collecting seaborn (from -r requirements.txt (line 6))
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2025.2)
Requirement already satisfied: scipy>=1.8.0 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (3.6.0)
Requirement already satisfied: anyio<5,>=3.5.0 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from openai->-r requirements.txt (line 4)) (4.11.0)
Requirement already satisfied: distro<2,>=1.7.0 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from openai->-r requirements.txt (line 4)) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from openai->-r requirements.txt (line 4)) (0.28.1)
Requirement already satisfied: jiter<1,>=0.10.0 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from openai->-r requirements.txt (line 4)) (0.11.1)
Requirement already satisfied: pydantic<3,>=1.9.0 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from openai->-r requirements.txt (line 4)) (2.12.3)
Requirement already satisfied: sniffio in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from openai->-r requirements.txt (line 4)) (1.3.1)
Requirement already satisfied: tqdm>4 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from openai->-r requirements.txt (line 4)) (4.67.1)
Requirement already satisfied: typing-extensions<5,>=4.11 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from openai->-r requirements.txt (line 4)) (4.15.0)
Requirement already satisfied: idna>=2.8 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from anyio<5,>=3.5.0->openai->-r requirements.txt (line 4)) (3.11)
Requirement already satisfied: certifi in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from httpx<1,>=0.23.0->openai->-r requirements.txt (line 4)) (2025.10.5)
Requirement already satisfied: httpcore==1.* in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from httpx<1,>=0.23.0->openai->-r requirements.txt (line 4)) (1.0.9)
Requirement already satisfied: h11>=0.16 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai->-r requirements.txt (line 4)) (0.16.0)
Requirement already satisfied: annotated-types>=0.6.0 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from pydantic<3,>=1.9.0->openai->-r requirements.txt (line 4)) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from pydantic<3,>=1.9.0->openai->-r requirements.txt (line 4)) (2.41.4)
Requirement already satisfied: typing-inspection>=0.4.2 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from pydantic<3,>=1.9.0->openai->-r requirements.txt (line 4)) (0.4.2)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn->-r requirements.txt (line 6))
  Using cached matplotlib-3.10.7-cp313-cp313-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn->-r requirements.txt (line 6))
  Using cached contourpy-1.3.3-cp313-cp313-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn->-r requirements.txt (line 6))
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn->-r requirements.txt (line 6))
  Using cached fonttools-4.60.1-cp313-cp313-win_amd64.whl.metadata (114 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn->-r requirements.txt (line 6))
  Using cached kiwisolver-1.4.9-cp313-cp313-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn->-r requirements.txt (line 6)) (25.0)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.4->seaborn->-r requirements.txt (line 6))
  Using cached pillow-12.0.0-cp313-cp313-win_amd64.whl.metadata (9.0 kB)
Collecting pyparsing>=3 (from matplotlib!=3.6.1,>=3.4->seaborn->-r requirements.txt (line 6))
  Using cached pyparsing-3.2.5-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: six>=1.5 in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 2)) (1.17.0)
Requirement already satisfied: colorama in d:\minestudy\ml\ml with zuu\project based learning course\02\eda_01\.venv\lib\site-packages (from tqdm>4->openai->-r requirements.txt (line 4)) (0.4.6)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Using cached matplotlib-3.10.7-cp313-cp313-win_amd64.whl (8.1 MB)
Using cached contourpy-1.3.3-cp313-cp313-win_amd64.whl (226 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Using cached fonttools-4.60.1-cp313-cp313-win_amd64.whl (2.3 MB)
Using cached kiwisolver-1.4.9-cp313-cp313-win_amd64.whl (73 kB)
Downloading pillow-12.0.0-cp313-cp313-win_amd64.whl (7.0 MB)
   ---------------------------------------- 0.0/7.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.0 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.0 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.0 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.0 MB ? eta -:--:--
   -- ------------------------------------- 0.5/7.0 MB 481.1 kB/s eta 0:00:14
   -- ------------------------------------- 0.5/7.0 MB 481.1 kB/s eta 0:00:14
   -- ------------------------------------- 0.5/7.0 MB 481.1 kB/s eta 0:00:14
   -- ------------------------------------- 0.5/7.0 MB 481.1 kB/s eta 0:00:14
   ---- ----------------------------------- 0.8/7.0 MB 400.9 kB/s eta 0:00:16
   ----- ---------------------------------- 1.0/7.0 MB 515.8 kB/s eta 0:00:12
   ------- -------------------------------- 1.3/7.0 MB 614.6 kB/s eta 0:00:10
   ---------- ----------------------------- 1.8/7.0 MB 743.2 kB/s eta 0:00:07
   ----------- ---------------------------- 2.1/7.0 MB 814.3 kB/s eta 0:00:07
   -------------- ------------------------- 2.6/7.0 MB 932.8 kB/s eta 0:00:05
   ----------------- ---------------------- 3.1/7.0 MB 1.0 MB/s eta 0:00:04
   ------------------- -------------------- 3.4/7.0 MB 1.1 MB/s eta 0:00:04
   ---------------------- ----------------- 3.9/7.0 MB 1.2 MB/s eta 0:00:03
   ----------------------- ---------------- 4.2/7.0 MB 1.2 MB/s eta 0:00:03
   ----------------------- ---------------- 4.2/7.0 MB 1.2 MB/s eta 0:00:03
   -------------------------- ------------- 4.7/7.0 MB 1.2 MB/s eta 0:00:02
   ----------------------------- ---------- 5.2/7.0 MB 1.2 MB/s eta 0:00:02
   -------------------------------- ------- 5.8/7.0 MB 1.3 MB/s eta 0:00:01
   ----------------------------------- ---- 6.3/7.0 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 6.6/7.0 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 7.0/7.0 MB 1.4 MB/s  0:00:05
Using cached pyparsing-3.2.5-py3-none-any.whl (113 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn

   ---------------------------------------- 0/8 [pyparsing]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   -------------------- ------------------- 4/8 [cycler]
   ------------------------- -------------- 5/8 [contourpy]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ----------------------------------- ---- 7/8 [seaborn]
   ---------------------------------------- 8/8 [seaborn]

Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.60.1 kiwisolver-1.4.9 matplotlib-3.10.7 pillow-12.0.0 pyparsing-3.2.5 seaborn-0.13.2

### 1. Import Dependencies

In [27]:
import pandas as pd
import openai, groq
import numpy as np
import os

In [28]:
os.getcwd()

'd:\\MINESTUDY\\ML\\ML with Zuu\\Project Based Learning Course\\02\\EDA_01'

### 2. Basic Information

In [29]:
df = pd.read_csv('data/raw/CEHHbInToW.csv')
df.head(15)

,RowNumber,CustomerId,Firstname,Lastname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Grace,Williams,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1
1,2,15647311,David,Jones,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Hank,Williams,502,France,Female,42.0,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Eva,Taylor,699,France,Female,NaN,1,0.00,2,0,0,93826.63,0
4,5,15737888,Grace,Miller,850,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Jack,Smith,645,Spain,Male,44.0,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Carol,Wilson,822,France,Male,50.0,7,0.00,2,1,1,10062.80,0
7,8,15656148,Grace,Wilson,376,Germany,Female,29.0,4,115046.74,4,1,0,119346.88,1
8,9,15792365,Hank,Jones,501,France,Male,44.0,4,142051.07,2,0,1,74940.50,0
9,10,15592389,Eva,Wilson,684,France,Male,27.0,2,134603.88,1,1,1,71725.73,0
10,11,15767821,David,Taylor,528,France,Male,31.0,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Hank,Garcia,497,Spain,Male,24.0,3,0.00,2,1,0,76390.01,0
12,13,15632264,Hank,Jones,476,France,Female,34.0,10,0.00,2,1,0,26260.98,0
13,14,15691483,Carol,Williams,549,France,Female,25.0,5,0.00,2,0,0,190857.79,0
14,15,15600882,Frank,Davis,635,Spain,Female,35.0,7,0.00,2,1,1,65951.65,0

In [30]:
##check null value in each column
df.isnull().sum()

RowNumber            0
CustomerId           0
Firstname            7
Lastname             6
CreditScore          0
Geography            0
Gender             108
Age                600
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
dtype: int64

### 3. Handle Missing Values

In [31]:
df_cp = df.copy()
df_cp

,RowNumber,CustomerId,Firstname,Lastname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Grace,Williams,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1
1,2,15647311,David,Jones,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Hank,Williams,502,France,Female,42.0,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Eva,Taylor,699,France,Female,NaN,1,0.00,2,0,0,93826.63,0
4,5,15737888,Grace,Miller,850,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Grace,Garcia,771,France,Male,39.0,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Jack,Garcia,516,France,Male,35.0,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Carol,Johnson,709,France,Female,36.0,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Jack,Garcia,772,Germany,Male,42.0,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Eva,Garcia,792,France,Female,28.0,4,130142.79,1,1,0,38190.78,0

#### 3.1 deletion


**axis = 1** -> check each  column and drop if at least 1 null value consists of <br>
**axis = 0**-> check each row and drop if at least 1 null value consists of

In [32]:
df_cp = df.copy()
df_cp = df_cp.dropna(axis=0)
df_cp

,RowNumber,CustomerId,Firstname,Lastname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Grace,Williams,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1
1,2,15647311,David,Jones,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Hank,Williams,502,France,Female,42.0,8,159660.80,3,1,0,113931.57,1
4,5,15737888,Grace,Miller,850,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Jack,Smith,645,Spain,Male,44.0,8,113755.78,2,1,0,149756.71,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Grace,Garcia,771,France,Male,39.0,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Jack,Garcia,516,France,Male,35.0,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Carol,Johnson,709,France,Female,36.0,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Jack,Garcia,772,Germany,Male,42.0,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Eva,Garcia,792,France,Female,28.0,4,130142.79,1,1,0,38190.78,0

In [33]:
df_cp = df.copy()
df_cp = df_cp.dropna(axis=1)
df_cp

,RowNumber,CustomerId,CreditScore,Geography,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,619,France,2,0.00,1,1,1,101348.88,1
1,2,15647311,608,Spain,1,83807.86,1,0,1,112542.58,0
2,3,15619304,502,France,8,159660.80,3,1,0,113931.57,1
3,4,15701354,699,France,1,0.00,2,0,0,93826.63,0
4,5,15737888,850,Spain,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,771,France,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,516,France,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,709,France,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,772,Germany,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,792,France,4,130142.79,1,1,0,38190.78,0

#### 3.2 Imputation

The possible ways to do this are:
- Filling the missing data with the mean or median value if its`s a numerical value
- Filling the missing data with mode if its`s categorical value
- Filling the numerical value with 0 or -999, or some other number that will not occur in the data.
This can be done so that the machine can recognize that the data is not real or is different.
- Filling the categorical value with a new type for missing values.

##### 3.2.1 Age

In [34]:
mean = df['Age'].mean()
median = df['Age'].median()

mean = round(mean,2)

print(f"Mean || Age: {mean}")
print(f"Median || Age: {median}")

Mean || Age: 38.91
Median || Age: 37.0